<div id="content" class=" uk-container-xlarge">
    <h4 class="uk-text-center uk-margin-top">PLanning des cours</h4>
    <div class="uk-section uk-section-secondary uk-section-small uk-preserve-color">
        <div class="uk-container">


            <img [src]="planning" width="100%">


        </div>
    </div>
    <h4 id="coursenligne" class="uk-text-center uk-margin-top">Cours en ligne</h4>
    <div class="uk-section uk-section-secondary uk-section-small uk-preserve-color">
        <div class="uk-container">
            <iframe width="1070" height="600" uk-responsive src="https://www.youtube.com/embed/_y3odfS6W7k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="uk-container">
            <iframe width="1070" height="600" uk-responsive src="https://www.youtube.com/embed/Yw8zP-WIRyI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="uk-container">
            <iframe width="1070" height="600" uk-responsive src="https://www.youtube.com/embed/Om2OaPCamLY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
