<div id="content" class=" uk-container-xlarge">
    <h4 class="uk-text-center uk-margin-top">Planning des cours</h4>
    <div class="uk-section uk-section-secondary uk-section-small uk-preserve-color">
        <div class="uk-container">


            <embed src="./../../assets//Planning cours.pdf" width="100%" height="900px" />

            <table class="uk-table uk-table-responsive uk-table-divider uk-margin-bottom">
                <thead>
                    <tr>
                        <th></th>
                        <th>LUNDI</th>
                        <th>MARDI</th>
                        <th>MERCREDI</th>
                        <th>JEUDI</th>
                        <th>VENDREDI</th>
                        <th>SAMEDI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>MATIN 10h00</th>
                        <td></td>
                        <td>HOPP
                            <p>1 heure</p>
                        </td>
                        <td></td>
                        <td>CIRCUIT TRAINING CARDIO & STRECHING
                            <p>45 minutes</p>
                            <p>15 minutes</p>
                        </td>
                        <td></td>
                        <td>BODY BARRE
                            <p>45 minutes</p>
                        </td>
                    </tr>
                    <tr>
                        <th>MIDI 12h30</th>
                        <td>STEP
                            <p>45 minutes</p>
                        </td>
                        <td>CAFD
                            <p>45 minutes</p>
                        </td>
                        <td>YOGA
                            <p>6 personnes minimum</p>
                        </td>
                        <td>HOPP
                            <p>45 minutes</p>
                        </td>
                        <td>CARDIO
                            <p>45 minutes</p>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>SOIR 18h30</th>
                        <td>HOPP
                            <p></p>
                        </td>
                        <td>STEP
                            <p>45 minutes</p>
                        </td>
                        <td>CAFD
                            <p>45 minutes</p>
                        </td>
                        <td>Cross training libre + Coaching
                            <p>17h - 20h</p>
                        </td>
                        <td>RENFO MIX
                            <p>1 heure</p>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>SOIR 19h30</th>
                        <td>ZUMBA & Streching
                            <p>45 minutes</p>
                            <p>15 minutes</p>
                        </td>
                        <td>Circuit training muscu & Streching
                            <p>45 minutes</p>
                            <p>15 minutes</p>
                        </td>
                        <td>ZUMBA & Streching
                            <p>45 minutes</p>
                            <p>15 minutes</p>
                        </td>
                        <td>Entrainement Asso
                        </td>
                        <td>BIKE
                            <p>45 minutes</p>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h4 id="coursenligne" class="uk-text-center uk-margin-top">Cours en ligne</h4>
    <div class="uk-section uk-section-secondary uk-section-small uk-preserve-color">
        <div class="uk-container">
            <iframe width="1070" height="600" uk-responsive src="https://www.youtube.com/embed/_y3odfS6W7k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="uk-container">
            <iframe width="1070" height="600" uk-responsive src="https://www.youtube.com/embed/Yw8zP-WIRyI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="uk-container">
            <iframe width="1070" height="600" uk-responsive src="https://www.youtube.com/embed/Om2OaPCamLY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
