<p>commentaires works!</p>

<div *ngFor="let comment of coments">
    <article class="uk-article">

        <h1 class="uk-article-title"><a class="uk-link-reset" href="">Heading</a></h1>

        <p class="uk-article-meta">Written by <a href="#">{{comment.user.prenom}} {{comment.user.nom}}</a> le {{comment.date}}</p>

        <p class="uk-text-lead">{{comment.coments}}</p>


        <div class="uk-grid-small uk-child-width-auto" uk-grid>
            <div>
                <a class="uk-button uk-button-text" href="#">Read more</a>
            </div>
            <div>
                <a class="uk-button uk-button-text" href="#">5 Comments</a>
            </div>
        </div>

    </article>




</div>

<div>
    <button class="uk-button" (click)="editor.chain().focus().toggleBulletList().run()">go</button>
</div>
<tiptap-editor [editor]="editor" [(ngModel)]="newcomment" id="comentid">
</tiptap-editor>
<tiptap-bubble-menu [editor]="editor" class="bubble-menu">
    <!-- Anything that should be rendered inside bubble menu -->
    <button (click)="editor.chain().focus().toggleBulletList().run()">de</button>
    <button (click)="editor.chain().focus().setTextAlign('center').run()">center</button>
    <button (click)="editor.chain().focus().setTextAlign('right').run()">droite</button>
</tiptap-bubble-menu>

<tiptap-floating-menu [editor]="editor" class="floating-menu">
    <!-- Anything that should be rendered inside bubble menu -->
    <button (click)="editor.chain().focus().toggleBulletList().run()">Liste</button>
    <button (click)="editor.chain().focus().setTextAlign('center').run()">center</button>
    <button (click)="editor.chain().focus().setTextAlign('right').run()">droite</button>
    <button (click)="newsection($event)">section</button>

</tiptap-floating-menu>