# Options +FollowSymLinks
RewriteEngine On

RewriteCond %{ENV:HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

# RewriteCond %{HTTP_HOST} ^lafabrik-fumel\.fr [NC]
# RewriteRule ^(.*)$ https://www.lafabrik-fumel.fr/ [L,R=301,NC]

# sitemap
# RewriteRule ^sitemap\.xml$ /yakhasport/sitemap.xml [L]
# robots.txt
# RewriteRule ^robots\.txt$ /yakhasport/robots.txt [L]

# RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
# RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
# RewriteRule ^.*$ - [NC,L]
# RewriteRule ^(.*) /yakhasport/index.html [NC,L]


