<div id="content" class="uk-container-xlarge">
    <h4 class="uk-text-center uk-margin-top">News</h4>
    <div class="uk-section uk-section-secondary uk-section-small uk-preserve-color">
        <article class="uk-article uk-margin-left uk-margin-right">
            <h5 class="uk-text-center uk-margin-top">News 1</h5>
            <p>Bla bla</p>
        </article>
    </div>

    <article class="uk-article uk-margin-left uk-margin-right">
        <div class="editor__header uk-active uk-border-rounded uk-margin uk-margin-top">
            <nav class="uk-navbar-container" uk-navbar>
                <div class="uk-navbar-left">
                    <button class="uk-button uk-button-default" uk-icon="reply" (click)="editor.chain().focus().undo().run()"></button>
                    <button class="uk-button uk-button-default" uk-icon="forward" (click)="editor.chain().focus().redo().run()"></button>
                    <!-- text Align -->
                    <button class="uk-button uk-button-default" type="button" (click)="editor.chain().focus().setTextAlign('left').run()" [ngClass]="{
              'uk-button-danger': editor.isActive({ textAlign: 'left' })
            }">
            <svg
              aria-hidden="true"
              focusable="false"
              class="icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              width="1em"
              height="1em"
            >
              <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
              <path
                d="M256 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H256C273.7 32 288 46.33 288 64C288 81.67 273.7 96 256 96zM256 352H32C14.33 352 0 337.7 0 320C0 302.3 14.33 288 32 288H256C273.7 288 288 302.3 288 320C288 337.7 273.7 352 256 352zM0 192C0 174.3 14.33 160 32 160H416C433.7 160 448 174.3 448 192C448 209.7 433.7 224 416 224H32C14.33 224 0 209.7 0 192zM416 480H32C14.33 480 0 465.7 0 448C0 430.3 14.33 416 32 416H416C433.7 416 448 430.3 448 448C448 465.7 433.7 480 416 480z"
              />
            </svg>
          </button>
                    <button class="uk-button uk-button-default" (click)="editor.chain().focus().setTextAlign('right').run()" [ngClass]="{
              'uk-button-danger': editor.isActive({ textAlign: 'right' })
            }">
            <svg
              aria-hidden="true"
              focusable="false"
              class="icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              width="1em"
              height="1em"
            >
              <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
              <path
                d="M416 96H192C174.3 96 160 81.67 160 64C160 46.33 174.3 32 192 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96zM416 352H192C174.3 352 160 337.7 160 320C160 302.3 174.3 288 192 288H416C433.7 288 448 302.3 448 320C448 337.7 433.7 352 416 352zM0 192C0 174.3 14.33 160 32 160H416C433.7 160 448 174.3 448 192C448 209.7 433.7 224 416 224H32C14.33 224 0 209.7 0 192zM416 480H32C14.33 480 0 465.7 0 448C0 430.3 14.33 416 32 416H416C433.7 416 448 430.3 448 448C448 465.7 433.7 480 416 480z"
              />
            </svg>
          </button>

                    <button class="uk-button uk-button-default" (click)="editor.chain().focus().setTextAlign('center').run()" [ngClass]="{
              'uk-button-danger': editor.isActive({ textAlign: 'center' })
            }">
            <svg
              aria-hidden="true"
              focusable="false"
              class="icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              width="1em"
              height="1em"
            >
              <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
              <path
                d="M320 96H128C110.3 96 96 81.67 96 64C96 46.33 110.3 32 128 32H320C337.7 32 352 46.33 352 64C352 81.67 337.7 96 320 96zM416 224H32C14.33 224 0 209.7 0 192C0 174.3 14.33 160 32 160H416C433.7 160 448 174.3 448 192C448 209.7 433.7 224 416 224zM0 448C0 430.3 14.33 416 32 416H416C433.7 416 448 430.3 448 448C448 465.7 433.7 480 416 480H32C14.33 480 0 465.7 0 448zM320 352H128C110.3 352 96 337.7 96 320C96 302.3 110.3 288 128 288H320C337.7 288 352 302.3 352 320C352 337.7 337.7 352 320 352z"
              />
            </svg>
          </button>

                    <button class="uk-button uk-button-default" (click)="editor.chain().focus().setTextAlign('justify').run()" [ngClass]="{
              'uk-button-danger': editor.isActive({ textAlign: 'justify' })
            }">
            <svg
              aria-hidden="true"
              focusable="false"
              class="icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              width="1em"
              height="1em"
            >
              <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
              <path
                d="M416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96zM416 352H32C14.33 352 0 337.7 0 320C0 302.3 14.33 288 32 288H416C433.7 288 448 302.3 448 320C448 337.7 433.7 352 416 352zM0 192C0 174.3 14.33 160 32 160H416C433.7 160 448 174.3 448 192C448 209.7 433.7 224 416 224H32C14.33 224 0 209.7 0 192zM416 480H32C14.33 480 0 465.7 0 448C0 430.3 14.33 416 32 416H416C433.7 416 448 430.3 448 448C448 465.7 433.7 480 416 480z"
              />
            </svg>
          </button>

                    <button class="uk-button uk-button-default" uk-icon="bold" (click)="editor.chain().focus().toggleBold().run()" [ngClass]="{ 'uk-button-danger': editor.isActive('bold') }"></button>
                    <button class="uk-button uk-button-default" uk-icon="italic" (click)="editor.chain().focus().toggleItalic().run()" [ngClass]="{ 'uk-button-danger': editor.isActive('italic') }"></button>
                    <button class="uk-button uk-button-default" (click)="editor.chain().focus().setParagraph().run()" [ngClass]="{ 'uk-button-danger': editor.isActive('paragraph') }">
            p
          </button>
                    <button class="uk-button uk-button-default" (click)="editor.chain().focus().toggleHeading({ level: 1 }).run()" [ngClass]="{
              'uk-button-danger': editor.isActive('heading', { level: 1 })
            }">
            h1
          </button>
                    <button class="uk-button uk-button-default" (click)="editor.chain().focus().toggleHeading({ level: 2 }).run()" [ngClass]="{
              'uk-button-danger': editor.isActive('heading', { level: 2 })
            }">
            h2
          </button>
                    <button class="uk-button uk-button-default" (click)="editor.chain().focus().toggleHeading({ level: 3 }).run()" [ngClass]="{
              'uk-button-danger': editor.isActive('heading', { level: 3 })
            }">
            h3
          </button>
                    <button class="uk-button uk-button-default" (click)="editor.chain().focus().toggleHeading({ level: 4 }).run()" [ngClass]="{
              'uk-button-danger': editor.isActive('heading', { level: 4 })
            }">
            h4
          </button>
                    <button class="uk-button uk-button-default" (click)="editor.chain().focus().toggleHeading({ level: 5 }).run()" [ngClass]="{
              'uk-button-danger': editor.isActive('heading', { level: 5 })
            }">
            h5
          </button>
                    <button class="uk-button uk-button-default" uk-icon="quote-right" (click)="editor.chain().focus().toggleBlockquote().run()" [ngClass]="{
            'uk-button-danger': editor.isActive('blockquote')
          }"></button>

                    <div class="uk-flex uk-flex-row">
                        <button class="uk-button uk-button-default" uk-icon="image" (click)="editor.chain().focus().setImage({ src: '../../assets/yakhasport_bandeau.jpg' }).run()" [ngClass]="{
                      'uk-button-danger': editor.isActive('custom-image')
                    }"></button>
                        <div class="uk-flex uk-flex-column" *ngIf="editor.isActive('custom-image')">
                            <div class="uk-margin-auto-left uk-margin-auto-right">Size</div>
                            <div class="uk-flex uk-flex-row">
                                <button class="uk-button uk-button-default" (click)="this.editor.chain().focus().updateAttributes('custom-image', { size: 'small' }).run()" [ngClass]="{
                          'uk-button-danger': editor.isActive('custom-image', { size: 'small' })
                        }">Small</button>
                                <button class="uk-button uk-button-default" (click)="this.editor.chain().focus().updateAttributes('custom-image', { size: 'medium' }).run()" [ngClass]="{
                          'uk-button-danger': editor.isActive('custom-image', { size: 'medium' })
                        }">Medium</button>
                                <button class="uk-button uk-button-default" (click)="this.editor.chain().focus().updateAttributes('custom-image', { size: 'large' }).run()" [ngClass]="{
                          'uk-button-danger': editor.isActive('custom-image', { size: 'large' })
                        }">Large</button>
                                <button class="uk-button uk-button-default" (click)="this.editor.chain().focus().updateAttributes('custom-image', { size: 'xlarge' }).run()" [ngClass]="{
                          'uk-button-danger': editor.isActive('custom-image', { size: 'xlarge' })
                        }">x-Large</button>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-column" *ngIf="editor.isActive('custom-image')">
                            <div class="uk-margin-auto-left uk-margin-auto-right">Float</div>
                            <!-- -->
                            <div class="uk-flex uk-flex-row">
                                <button class="uk-button uk-button-default" (click)="this.editor.chain().focus().updateAttributes('custom-image', { float: 'left' }).run()" [ngClass]="{
                              'uk-button-danger': editor.isActive('custom-image', { float: 'left' })
                            }">left</button>
                                <button class="uk-button uk-button-default" (click)="this.editor.chain().focus().updateAttributes('custom-image', { float: 'none' }).run()" [ngClass]="{
                              'uk-button-danger': editor.isActive('custom-image', { float: 'none' })
                            }">none</button>
                                <button class="uk-button uk-button-default" (click)="this.editor.chain().focus().updateAttributes('custom-image', { float: 'right' }).run()" [ngClass]="{
                              'uk-button-danger': editor.isActive('custom-image', { float: 'right' })
                            }">right</button>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <tiptap-editor [editor]="editor" [(ngModel)]="newcomment" id="comentid" style="width: 100%">
        </tiptap-editor>
    </article>
</div>