<div id="covid" class=" uk-container-xlarge uk-height-viewport">
    <h4 class="uk-text-center uk-margin-top">Mesures anti COVID-19</h4>
    <div class="uk-container">
        <div class="uk-grid-match uk-grid-small uk-text-center uk-margin" uk-grid>
            <div class="uk-width-1-2@m" uk-scrollspy="cls: uk-animation-slide-left; target: .uk-card ; delay: 300; repeat: false">
                <div class=" uk-card uk-card-secondary uk-card-body uk-card-hover">
                    <h4 class="uk-card-title"> Respectez les gestes barrières </h4>
                    <p>Déplacez vous avec le masque dés l'entrée</p>
                    <p>Le masque ne s'enlève que pendant le sport</p>
                    <img src="../../assets/covid/323840_spf00002361-cadichd.jpg" uk-img>
                </div>
            </div>
            <div class="uk-width-1-2@m" uk-scrollspy="cls: uk-animation-slide-right; target: .uk-card ; delay: 300; repeat: false">
                <div class=" uk-card uk-card-secondary uk-card-body uk-card-hover">
                    <h4 class="uk-card-title"> Nettoyage des machines </h4>
                    <p>Désinfectez les machines avant et aprés utilisation</p>
                    <p>Les douches sont fermées</p>
                    <img src="../../assets/covid/349445_spf00002559-cadichd.jpg" uk-img>
                </div>
            </div>
        </div>
    </div>
</div>
