<!-- <div class="uk-container uk-container-expand uk-margin-top"> -->

<div class="uk-light wrap uk-background-norepeat uk-background-cover uk-background-center-center uk-cover-container uk-background-secondary">
    <!--  <img data-srcset="https://picsum.photos/640/700/?image=482 640w,
                   https://picsum.photos/960/700/?image=482 960w,
                   https://picsum.photos/1200/900/?image=482 1200w,
                   https://picsum.photos/2000/1000/?image=482 2000w" sizes="100vw" data-src="https://picsum.photos/1200/900/?image=482" alt="" data-uk-cover="" data-uk-img="" class="uk-cover" srcset="https://picsum.photos/640/700/?image=482 640w,
                   https://picsum.photos/960/700/?image=482 960w,
                   https://picsum.photos/1200/900/?image=482 1200w,
                   https://picsum.photos/2000/1000/?image=482 2000w" src="https://picsum.photos/1200/900/?image=482" style="height: 788px; width: 1051px;"> -->

    <img [attr.data-srcset]="toDisplay?.imgurl" sizes="100vw" [attr.data-src]="toDisplay?.imgurl" [attr.srcset]="toDisplay?.imgurl" [attr.src]="toDisplay?.imgurl" class="uk-cover">

    <div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-position-z-index uk-position-relative" data-uk-height-viewport="min-height: 400" style="background-color: rgba(0, 0, 0, 0.5); min-height: calc(100vh);">

        <app-menu></app-menu>

        <!-- TEXT yakahsport page-->
        <div class="uk-container uk-container-small uk-flex-center uk-text-center">
            <div class=" uk-margin-large-top"><img src="./../../assets/logo.jpg" width="100px" class="uk-border-circle"></div>
            <h1 class="uk-heading-primary animate uk-scrollspy-inview uk-animation-slide-bottom-small" style="font-weight: 700;">{{toDisplay?.slogan}}</h1>
            <div class="uk-width-4-5@m uk-margin-auto animate uk-scrollspy-inview uk-animation-slide-bottom-small" style="">
                <p class="lead">{{toDisplay?.slogan2}}</p>
            </div>

            <div class="uk-margin-medium-top animate uk-scrollspy-inview uk-animation-fade" data-uk-margin="" style="">
                <a class="uk-button uk-button-default uk-button-large uk-width-2-3 uk-width-auto@s uk-icon uk-first-column" data-uk-icon="arrow-right" title="visite" routerLink="/visite" fragment="visitez">VISITE<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="arrow-right"><polyline fill="none" stroke="#000" points="10 5 15 9.5 10 14"></polyline><line fill="none" stroke="#000" x1="4" y1="9.5" x2="15" y2="9.5"></line></svg></a>
                <a class="uk-button uk-button-primary uk-button-large uk-width-2-3 uk-width-auto@s uk-icon" data-uk-icon="check" title="Essayez" routerLink="/abonnements" fragment="content">ESSAYEZ<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="check"><polyline fill="none" stroke="#000" stroke-width="1.1" points="4,10 8,15 17,4"></polyline></svg></a>
            </div>
        </div>
        <!-- /TEXT -->
    </div>
    <div class="uk-position-bottom-center uk-position-medium uk-position-z-index uk-text-center">
        <a href="#content" data-uk-scroll="duration: 500" data-uk-icon="icon: arrow-down; ratio: 2" class="uk-icon uk-button uk-button-default"><svg width="40" height="40" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="arrow-down"><polygon points="10.5,16.08 5.63,10.66 6.37,10 10.5,14.58 14.63,10 15.37,10.66"></polygon><line fill="none" stroke="#000" x1="10.5" y1="4" x2="10.5" y2="15"></line></svg></a>
    </div>
</div>
<!-- </div> -->
