<div class="uk-container uk-width-1-1 uk-background-secondary customfooter">
    <div class=" uk-section">
        <div uk-scrollspy="cls: uk-animation-slide-bottom; target: .uk-grid; delay: 300; repeat: true">
            <div class="uk-grid-match uk-grid-small uk-text-center uk-margin" uk-grid>
                <div class="uk-width-1-4@m">
                    <div><a class="uk-button uk-button-text uk-text-muted" routerLink="/" routerLinkActive="uk-active">Yakhasport</a></div>
                    <div><a class="uk-button uk-button-text uk-text-muted" routerLink="/visite" fragment="visitez" routerLinkActive="uk-active">Visite</a></div>
                    <div><a class="uk-button uk-button-text uk-text-muted" routerLink="/visite" fragment="covid" routerLinkActive="uk-active">Mesures anti-covid</a></div>
                </div>
                <div class="uk-width-1-4@m">
                    <div><a class="uk-button uk-button-text uk-text-muted" routerLink="/abonnements" routerLinkActive="uk-active">Abonnements</a></div>
                    <div><a class="uk-button uk-button-text uk-text-muted" routerLink="/abonnements" fragment="content" routerLinkActive="uk-active">Tarifs</a></div>
                    <div><a class="uk-button uk-button-text uk-text-muted" routerLink="/abonnements" fragment="ici" routerLinkActive="uk-active">Où nous trouver</a></div>
                </div>
                <div class="uk-width-1-4@m">
                    <div><a class="uk-button uk-button-text uk-text-muted" routerLink="/cours" routerLinkActive="uk-active">Cours collectifs</a></div>
                    <div><a class="uk-button uk-button-text uk-text-muted" routerLink="/cours" fragment="content" routerLinkActive="uk-active">Planning des cours</a></div>
                    <div><a class="uk-button uk-button-text uk-text-muted" routerLink="/cours" fragment="coursenligne" routerLinkActive="uk-active">Cours en ligne</a></div>
                </div>
                <div class="uk-width-1-4@m">
                    <div>
                        Suivez-nous :
                        <a href="https://www.facebook.com/Yakha-Sport-Fumel-113162047104705" target="_blank" class="uk-link-text">
                            <span uk-icon="facebook"></span>
                        </a>

                        <a href="https://www.youtube.com/channel/UCHBB_0yPuGcq9Al0fG_vAWg" target="_blank" class="uk-link-text">
                            <span uk-icon="youtube"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
