<div id="content" class="uk-container uk-container-xlarge uk-background-secondary uk-margin-bottom uk-height-viewport" uk-scrollspy="cls: uk-animation-fade; target: .uk-heading-small, .uk-card ; delay: 300; repeat: false">


    <section class="uk-section uk-flex uk-flex-center uk-flex-middle uk-position-z-index">

        <div class="uk-grid-match uk-grid-small uk-text-center" uk-grid>
            <div class="uk-width-1-4@m">
                <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-border-rounded">

                    <h3 class="uk-card-title uk-heading-bullet-pink">Salle de sport</h3>
                    <p>Une salle de sport de 1100m² sur deux niveaux</p>
                    <div class="uk-card-media-bottom">
                        <a href="#salles" uk-scroll>
                            <img src="../../assets/visite/espace/IMG-20201009-WA0007.jpg" alt="">
                        </a>
                    </div>

                </div>
            </div>
            <div class="uk-width-1-4@m">
                <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-border-rounded">
                    <h3 class="uk-card-title uk-heading-bullet-pink">Corner lunch</h3>
                    <p>L'accueil dispose d'un coin lunch convivial</p>
                    <div class="uk-card-media-bottom">
                        <a href="#accueil" uk-scroll>
                            <img src="../../assets/visite/accueil/IMG-20201009-WA0013.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-4@m">
                <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-border-rounded">
                    <h3 class="uk-card-title uk-heading-bullet-pink">Deux vestiaires</h3>
                    <p>Chaque vestiaire dispose de deux douches et toilettes</p>
                    <div class="uk-card-media-bottom">
                        <a href="#vestiaires" uk-scroll>
                            <img src="../../assets/visite/vestiaires/IMG-20201009-WA0002.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-4@m">
                <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-border-rounded">
                    <h3 class="uk-card-title uk-heading-bullet-pink">Espace fitness</h3>
                    <p>Machines guidées et poids libres</p>
                    <div class="uk-card-media-bottom uk-cover-container">
                        <a href="#salles" uk-scroll>
                            <img src="../../assets/visite/espace/IMG-20201009-WA0000.jpg" alt="" uk-cover>
                        </a>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-4@m">
                <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-border-rounded">
                    <h3 class="uk-card-title uk-heading-bullet-pink">Espace girly</h3>
                    <p>Espace dédié aux filles</p>
                    <div class="uk-card-media-bottom">
                        <a href="#salles" uk-scroll>
                            <img src="../../assets/visite/espace/IMG-20201009-WA0001.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-4@m">
                <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-border-rounded">
                    <h3 class="uk-card-title uk-heading-bullet-pink">Espace relaxation</h3>
                    <p>Yoga, streching</p>
                    <div class="uk-card-media-bottom">
                        <a href="#relaxation" uk-scroll>
                            <img src="../../assets/visite/yoga/IMG-20201009-WA0029.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-4@m">
                <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-border-rounded">
                    <h3 class="uk-card-tiltle uk-heading-bullet-pink">Espace cours collectifs</h3>
                    <p>Step, zumba, body barre, pilates, cross training, RPM bike, sac de frappe</p>
                    <div class="uk-card-media-bottom">
                        <a href="#salles" uk-scroll>
                            <img src="../../assets/visite/espace/IMG-20201009-WA0007.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-4@m">
                <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-border-rounded">
                    <h3 class="uk-card-tiltle uk-heading-bullet-pink">Créneaux associations</h3>
                    <p>Réservez pour votre association sportive ou toutes autres associations</p>
                </div>
            </div>
        </div>

        <!-- <div class="uk-position-bottom-center uk-position-medium uk-position-z-index uk-text-center">
            <a href="#visitez" data-uk-scroll="duration: 500" data-uk-icon="icon: arrow-down; ratio: 2" class="uk-icon"><svg width="40" height="40" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="arrow-down"><polygon points="10.5,16.08 5.63,10.66 6.37,10 10.5,14.58 14.63,10 15.37,10.66"></polygon><line fill="none" stroke="#000" x1="10.5" y1="4" x2="10.5" y2="15"></line></svg></a>
        </div> -->
    </section>

    <div class="uk-position-relative uk-position-bottom-center uk-position-z-index uk-text-center">
        <a href="#visitez" data-uk-scroll="duration: 500" data-uk-icon="icon: arrow-down; ratio: 2" class="uk-icon"><svg
        width="40" height="40" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="arrow-down">
        <polygon points="10.5,16.08 5.63,10.66 6.37,10 10.5,14.58 14.63,10 15.37,10.66"></polygon>
        <line fill="none" stroke="#000" x1="10.5" y1="4" x2="10.5" y2="15"></line>
      </svg></a>
    </div>
</div>
<div id="visitez" class="uk-container uk-container-xlarge">
    <!-- Sous navigation -->
    <div class="uk-flex uk-flex-right uk-margin-top" uk-scrollspy="cls: uk-animation-fade; target: .uk-subnav; delay: 500; repeat: true">
        <ul class="uk-subnav uk-subnav-divider" uk-margin>
            <li><a href="#accueil" uk-scroll>L'accueil</a></li>
            <li><a href="#salles" uk-scroll>Les espaces</a></li>
            <li><a href="#relaxation" uk-scroll>La relaxation</a></li>
            <li><a href="#vestiaires" uk-scroll>Les vestiaires</a></li>
        </ul>
    </div>

    <h4 id="accueil" class="uk-heading-bullet ">Notre accueil</h4>

    <div class="uk-position-relative uk-visible-toggle uk-light " tabindex="-1" uk-slideshow="autoplay: true; autoplay-interval: 6000">

        <ul class="uk-slideshow-items">
            <li *ngFor="let image of listeaccueil; index as index">
                <img [src]="image" alt="" uk-cover>
                <div class="uk-position-bottom-right uk-position-small uk-light" uk-lightbox>
                    <a *ngFor="let lien of listeaccueil; index as index2; isFirt as isFirst" [href]="lien" [attr.data-index]="index">
                        <img *ngIf="index === index2" src="../../assets/full-screen-svgrepo-com.svg" width="20" height="20" uk-svg>
                    </a>
                </div>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover " href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover " href="#" uk-slidenav-next uk-slideshow-item="next"></a>

        <div class="uk-position-bottom-center uk-position-small uk-visible@m">
            <ul class="uk-dotnav">
                <li *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]; let i = index" [attr.uk-slideshow-item]="i">
                    <a href="#">Item {{number}}</a>
                </li>
            </ul>
        </div>
    </div>


    <h4 id="salles" class=" uk-heading-bullet">Nos salles, nos machines</h4>

    <div class="uk-position-relative uk-visible-toggle uk-light " tabindex="-1" uk-slideshow="autoplay: true; autoplay-interval: 6000">

        <ul class="uk-slideshow-items">
            <li *ngFor="let image of listeespace; index as index">
                <img [src]="image" alt="" uk-cover>
                <div class="uk-position-bottom-right uk-position-small uk-light" uk-lightbox>
                    <a *ngFor="let lien of listeespace; index as index2; isFirt as isFirst" [href]="lien" [attr.data-index]="index">
                        <img *ngIf="index === index2" src="../../assets/full-screen-svgrepo-com.svg" width="20" height="20" uk-svg>
                    </a>
                </div>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover " href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover " href="#" uk-slidenav-next uk-slideshow-item="next"></a>

        <div class="uk-position-bottom-center uk-position-small uk-visible@m">
            <ul class="uk-dotnav">
                <li *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]; let i = index" [attr.uk-slideshow-item]="i">
                    <a href="#">Item {{number}}</a>
                </li>
            </ul>
        </div>
    </div>



    <!-- relaxation -->
    <h4 id="relaxation" class=" uk-heading-bullet">Relaxation</h4>

    <div class="uk-position-relative uk-visible-toggle uk-light " tabindex="-1" uk-slideshow="autoplay: true; autoplay-interval: 6000">

        <ul class="uk-slideshow-items">
            <li *ngFor="let image of listeyoga; index as index">
                <img [src]="image" alt="" uk-cover>
                <div class="uk-position-bottom-right uk-position-small uk-light" uk-lightbox>
                    <a *ngFor="let lien of listeyoga; index as index2; isFirt as isFirst" [href]="lien" [attr.data-index]="index">
                        <img *ngIf="index === index2" src="../../assets/full-screen-svgrepo-com.svg" width="20" height="20" uk-svg>
                    </a>
                </div>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover " href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover " href="#" uk-slidenav-next uk-slideshow-item="next"></a>

        <div class="uk-position-bottom-center uk-position-small uk-visible@m">
            <ul class="uk-dotnav">
                <li *ngFor="let number of [1,2,3]; let i = index" [attr.uk-slideshow-item]="i">
                    <a href="#">Item {{number}}</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- vestiaires -->
    <h4 id="vestiaires" class=" uk-heading-bullet">Nos vestiaires</h4>

    <div class="uk-position-relative uk-visible-toggle uk-light " tabindex="-1" uk-slideshow="autoplay: true; autoplay-interval: 6000">

        <ul class="uk-slideshow-items">
            <li *ngFor="let image of listevestiaire; index as index">
                <img [src]="image" alt="" uk-cover>
                <div class="uk-position-bottom-right uk-position-small uk-light" uk-lightbox>
                    <a *ngFor="let lien of listevestiaire; index as index2; isFirt as isFirst" [href]="lien" [attr.data-index]="index">
                        <img *ngIf="index === index2" src="../../assets/full-screen-svgrepo-com.svg" width="20" height="20" uk-svg>
                    </a>
                </div>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover " href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover " href="#" uk-slidenav-next uk-slideshow-item="next"></a>

        <div class="uk-position-bottom-center uk-position-small uk-visible@m">
            <ul class="uk-dotnav">
                <li *ngFor="let number of [1,2,3,4,5,6,7,8]; let i = index" [attr.uk-slideshow-item]="i">
                    <a href="#">Item {{number}}</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="uk-margin-bottom">
        <app-covid></app-covid>
    </div>


    <div class="uk-position-fixed uk-position-bottom-right uk-overlay uk-overlay-default">
        <a href="#" uk-totop uk-scroll></a>
    </div>
</div>